<div class="contact-container">
    <div class="contact-hero">
        <h2>Let's Connect</h2>
        <h6>If you have an opportunity in mind, feel free to reach out and let's create something impactful.</h6>
    </div>
    <div class="contact-content" appScrollAnimate>
        <div class="contact-info-div">
            <div class="contact-info-item">
                <div class="contact-item-label"><i class="fa-regular fa-envelope" style="color: rgb(99, 230, 190);"></i>Email</div>
                <div class="contact-item-value">cs.salvahan&#64;gmail.com</div>
            </div>
            <div class="contact-info-item">
                <div class="contact-item-label"><i class="fa-solid fa-phone" style="color: rgb(99, 230, 190);"></i>Phone</div>
                <div class="contact-item-value">+63 9429100808</div>
            </div>
            <div class="contact-info-item">
                <div class="contact-item-label"><i class="fa-solid fa-location-dot" style="color: rgb(99, 230, 190);"></i>Location</div>
                <div class="contact-item-value">Manila, Philippines</div>
            </div>
        </div>
        <div class="contact-badges-div">
            <div class="contact-badges" (click)="redirectTo()">
                <i class="fa-brands fa-linkedin" style="color: #0A66C2"></i> LinkedIn
            </div>
            <!-- <div class="contact-badges">
                <i class="fa-brands fa-viber" style="color: #5740BE"></i>Viber
            </div>
            <div class="contact-badges">
                <i class="fa-brands fa-whatsapp" style="color: #25D366"></i>WhatsApp
            </div> -->
            
        </div>
    </div>
</div>