<div class="intro-container">
    <div class="intro-header">
        <span><i class="fa-solid fa-quote-left"></i>Frontend development is where design meets functionality—where creativity, code, and user experience come together to turn ideas into intuitive, engaging digital experiences that people love to use.<i class="fa-solid fa-quote-right"></i></span>
    </div>
    <div class="intro-content">
        <div class="about-me-section">
            <span class="about-header">Career Overview<i class="fa-solid fa-user"></i></span>
            <div class="about-subtitle">Building High-Quality, Impactful Digital Solutions</div>
            <div class="about-me-content">
                I am a Frontend Developer with 9 years of experience, specializing in Angular and ReactJS. I have delivered high-quality solutions across diverse industries, including finance, airlines, government, and insurance, collaborating with some of the most competitive companies. Highly versatile and adaptable, I excel in team environments and consistently deliver products that meet the highest standards.
                <button class="button">Download CV <i class="fa-solid fa-download"></i></button>
            </div>
            
        </div>
         <div class="projects-section">
            <span class="project-header">Project Highlights</span>
            <div class="project-subtitle">Significant Projects I've Delivered</div>
            <div class="project-grid">
                <div class="project-item">
                    <div class="icon-container"><i class="fa-solid fa-hand-holding-heart"></i></div>
                    <div class="project-title">U.S. Veterans Insurance</div>
                    <div class="project-subtitle">Seamlessly manage insurance fund transfers and automated payments.</div>
                    <button class="project-details-button">Project Details</button>
                </div>
                <div class="project-item">
                    <div class="icon-container"><i class="fa-solid fa-building-columns"></i></div>
                    <div class="project-title">Property Tax Management</div>
                    <div class="project-subtitle">Simplifying tax operations, asset tracking, and appeal workflows.</div>
                    <button class="project-details-button">Project Details</button>
                </div>
                <div class="project-item">
                    <div class="icon-container"><i class="fa-solid fa-plane-up"></i></div>
                    <div class="project-title">Airline Flight Booking</div>
                    <div class="project-subtitle">Effortless flight booking with a smooth and reliable experience.</div>
                    <button class="project-details-button">Project Details</button>
                </div>
            </div>
        </div>
        <div class="expertise-section">
            <span class="expertise-header">Development Toolkit<i class="fa-solid fa-code" style="color: #20C997;"></i></span>
            <div class="expertise-subtitle">Technologies Behind My Projects</div>
            <div class="expertise-badges">
                <span>Angular <i class="fa-brands fa-angular"  style="color: #f44336;"></i></span>
                <span>ReactJS <i class="fa-brands fa-react" style="color: #009688"></i></span>
                <span>Typescript <i class="fa-brands fa-typescript" style="color: #3178c6"></i></span>
                <span>Javascript <i class="fa-brands fa-js" style="color: #f7df1e"></i></span>
                <span>HTML5 <i class="fa-brands fa-html5" style="color: #e34c26;"></i></span>
                <span>CSS3 <i class="fa-brands fa-css3"  style="color: #264de4"></i></span>
                <span>Bootstrap <i class="fa-brands fa-bootstrap" style="color: #563d7c"></i></span>
            </div>
        </div>
        <div class="career-section">
            <span class="career-header">Career Foundation<i class="fa-solid fa-person-walking" style="color: #4A90E2;"></i></span>
            <div class="career-subtitle">Professional Experience with Top Firms</div>
            <div class="company-images">
                <img src="ibm.png" alt="">
                <img src="accenture.jpg" alt="">
                <img src="indra.jpg" alt="">
                <img src="pccw.jpg" alt="">
                <img src="prosource.png" alt="">
            </div>
        </div>
    </div>
</div>