<div class="intro-container">
    <div class="intro-header">
        <span appScrollAnimate>~ Frontend development is where design meets
            functionality—where creativity, code, and user experience come together to turn ideas into intuitive,
            engaging digital experiences that people love to use ~</span>
    </div>
    <div class="intro-content">
        <div class="about-me-section portfolio-section">
            <span class="about-header" appScrollAnimate>Career Overview<i class="fa-solid fa-user"></i></span>
            <div class="about-subtitle">Building High-Quality, Impactful Digital Solutions</div>
            <div class="about-me-content">
                <div class="about-me-words" appScrollAnimate>
                    Frontend Developer with over 9 years of professional experience, specializing in building modern web
                    applications using Angular and ReactJS. I have delivered scalable and high-quality solutions across
                    a wide range of industries, including finance, airlines, government, and insurance, working with
                    organizations in highly competitive and fast-paced environments.
                    <br><br>
                    Over the years, I've developed a strong passion for frontend engineering—especially in creating
                    smooth, responsive, and user-friendly interfaces that make applications feel effortless to use.
                </div>
                <button class="button primary-button" (click)="downloadCV()">Download CV <i class="fa-solid fa-download"></i></button>
            </div>

        </div>
        <div class="projects-section portfolio-section">
            <span class="project-header">Project Highlights</span>
            <div class="project-subtitle">Significant Projects I've Delivered</div>
            <div class="project-grid">
                <div class="project-item" appScrollAnimate>
                    <div class="icon-container"><i class="fa-solid fa-hand-holding-heart"></i></div>
                    <div class="project-title">U.S. Veterans Insurance</div>
                    <div class="project-subtitle">Seamlessly manage insurance fund transfers and automated payments.
                    </div>
                    <div class="project-highlight"><i class="fa-solid fa-caret-right"></i>Developed a UI with ReactJS,
                        ensuring seamless integration with backend services.</div>
                    <button class="project-details-button primary-button" (click)="openProject('U.S Veterans Insurance')">Project Details</button>
                </div>
                <div class="project-item" appScrollAnimate>
                    <div class="icon-container"><i class="fa-solid fa-building-columns"></i></div>
                    <div class="project-title">Property Tax Management</div>
                    <div class="project-subtitle">Simplifying tax operations, asset tracking, and appeal workflows.
                    </div>
                    <div class="project-highlight"><i class="fa-solid fa-caret-right"></i>Built responsive Angular-based
                        interfaces that effectively interact with backend services.</div>
                    <button class="project-details-button primary-button" (click)="openProject('Property Tax Management')">Project Details</button>
                </div>
                <div class="project-item" appScrollAnimate>
                    <div class="icon-container"><i class="fa-solid fa-plane-up"></i></div>
                    <div class="project-title">Airline Flight Booking</div>
                    <div class="project-subtitle">Effortless flight booking with a smooth and reliable experience.</div>
                    <div class="project-highlight"><i class="fa-solid fa-caret-right"></i>Created dynamic Angular
                        interfaces designed to handle data and interactions with backend systems.</div>
                    <button class="project-details-button primary-button" (click)="openProject('Airline Flight Booking')">Project Details</button>
                </div>
            </div>
        </div>
        <div class="expertise-section portfolio-section">
            <span class="expertise-header">Development Toolkit<i class="fa-solid fa-code"
                    style="color: #20C997;"></i></span>
            <div class="expertise-subtitle">Technologies Behind My Projects</div>
            <div class="skill-grid">
                <div appScrollAnimate><i class="fa-brands fa-angular" style="color: #f44336;"></i>Angular</div>
                <div appScrollAnimate><i class="fa-brands fa-react" style="color: #009688"></i>ReactJS</div>
                <div appScrollAnimate><i class="fa-brands fa-typescript" style="color: #3178c6"></i>Typescript</div>
                <div appScrollAnimate><i class="fa-brands fa-js" style="color: #f7df1e"></i>Javascript</div>
                <div appScrollAnimate><i class="fa-brands fa-html5" style="color: #e34c26;"></i>HTML5</div>
                <div appScrollAnimate><i class="fa-brands fa-css3-alt" style="color: #264de4"></i>CSS3</div>
                <div appScrollAnimate><i class="fa-brands fa-bootstrap" style="color: #563d7c"></i>Bootstrap</div>
                <div appScrollAnimate><i class="fa-brands fa-git-alt" style="color: white"></i>Git</div>
                <div appScrollAnimate><i class="fa-solid fa-flask" style="color:#8A4182"></i>Unit test</div>
            </div>
        </div>
        <div class="career-section portfolio-section">
            <span class="career-header">Career Foundation<i class="fa-solid fa-person-walking"
                    style="color: #4A90E2;"></i></span>
            <div class="career-subtitle">Professional Experience with Top Firms</div>
            <div class="company-images">
                <img src="ibm.png" alt="" appScrollAnimate>
                <img src="accenture.jpg" alt="" appScrollAnimate>
                <img src="indra.jpg" alt="" appScrollAnimate>
                <img src="pccw.jpg" alt="" appScrollAnimate>
                <img src="prosource.png" alt="" appScrollAnimate>
            </div>
        </div>
    </div>
</div>

@if(showModal) {
    <app-modal (closeClick)="modalClose()" [modalTitle]="selectedProject.name">
        <app-project-details [selectedProject]="selectedProject"></app-project-details>
    </app-modal>
}