$content-header-font-size: 1.5rem;
$content-header-font-weight: 500;
$content-header-text-shadow: 2px 2px 2px #eeeeee;
$content-header-color: #424242;

.intro-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    background-color: #e1f5fe;
    position: relative;


    .intro-header {
        color: white;
        background-color: black;
        font-size: 2rem;
        font-style: italic;
        text-shadow: 2px 2px 1px #212121;
        border: 1px solid black;
        padding: 5rem;
        height: 20rem;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        border-bottom: 3px solid #84ffff;
    }

    .intro-content {
        flex: 1;
        display: flex;
        align-items: baseline;
        overflow-y: auto;
        gap: 4rem;
        padding: 5rem;
        color: white;
        flex-direction: column;

        .career-section {
            .career-header {
                font-size: $content-header-font-size;
                font-weight: $content-header-font-weight;
                text-shadow: $content-header-text-shadow;
                color: $content-header-color;
            }

            .company-images {
                display: flex;
                gap: 3rem;
                align-items: flex-end;
                margin-top: 1rem;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;


                img {
                    height: 8rem;
                    width: 8rem;
                    background: white;
                    padding: 1.5rem;
                    border-radius: 50%;
                    object-fit: contain;
                    transition: transform 0.3s ease;
                    box-shadow: 2px 2px 2px #9e9e9e;
                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
        }

        .expertise-section {
            .expertise-header {
                font-size: $content-header-font-size;
                font-weight: $content-header-font-weight;
                text-shadow: $content-header-text-shadow;
                color: $content-header-color;
            }

            .expertise-badges {
                display: flex;
                margin-top: 1rem;
                gap: 1rem;

                span {
                    background-color: #616161;
                    color: white;
                    padding: 1rem;
                    border: 1px solid #616161;
                    border-radius: 1rem;
                    text-shadow: 2px 2px 2px #212121;
                    transition: transform 0.3s ease;
                    box-shadow: 2px 2px 2px #9e9e9e;

                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
        }

        .projects-section {
            .project-header {
                font-size: $content-header-font-size;
                font-weight: $content-header-font-weight;
                text-shadow: $content-header-text-shadow;
                color: $content-header-color;
            }

            .project-grid {
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;
                margin-top: 2rem;

                .project-item {
                    height: 10rem;
                    width: 10rem;
                    border: 1px solid #bdbdbd;
                    border-radius: 1rem;
                    background: white;
                    color: #424242;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: 1.5rem;
                    transition: transform 0.3s ease;
                    text-shadow: 1px 1px 1px #eeeeee;
                    font-weight: 700;
                    box-shadow: 3px 3px 2px #9e9e9e;

                    i {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                        text-shadow: 1px 1px 1px #212121;
                    }

                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
        }

        .project-header,
        .expertise-header,
        .career-header {
            i {
                margin-right: 1rem;
                font-size: 2rem;
                text-shadow: 1px 1px 1px #212121;
            }
        }
    }
}