<div class="intro-container">
    <div class="intro-header">
        Frontend Developer with 9+ years of experience crafting modern, scalable web applications using Angular and
        ReactJS—focused on building fast, intuitive, and engaging user experiences.
        <button class="button">Download CV <i class="fa-solid fa-download"></i></button>
    </div>
    <div class="intro-content">
         <div class="projects-section">
            <span class="project-header"><i class="fa-solid fa-briefcase" style="color:  #FFC107; "></i>Project
                Highlights</span>
            <div class="project-grid">
                <div class="project-item">
                    <i class="fa-solid fa-hand-holding-heart" style="color: #009688"></i>
                    U.S. Veterans Insurance
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-building-columns" style="color: #1976d2"></i>
                    Property Tax Management
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-file-invoice-dollar" style="color: #F7DF1E "></i>
                    Tax Advisory
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-car-burst" style="color: #ff9100 "></i>
                    Insurance Advisory
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-cart-shopping" style="color: #43a047 "></i>
                    Airline E-commerce
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-phone-volume" style="color: #ef9a9a"></i>
                    Airline Callcenter
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-plane-up" style="color: #ef5350"></i>
                    Flight Booking
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-id-card" style="color: #90caf9 "></i>
                    Smart ID Migration
                </div>
                <div class="project-item">
                    <i class="fa-solid fa-business-time" style="color: #cddc39 "></i>
                    Timesheet System
                </div>
            </div>
        </div>
        <div class="expertise-section">
            <span class="expertise-header"><i class="fa-solid fa-code" style="color: #20C997;"></i>Core
                Expertise</span>
            <div class="expertise-badges">
                <span>Angular <i class="fa-brands fa-angular"  style="color: #f44336;"></i></span>
                <span>ReactJS <i class="fa-brands fa-react" style="color: #009688"></i></span>
                <span>Typescript <i class="fa-brands fa-typescript" style="color: #3178c6"></i></span>
                <span>Javascript <i class="fa-brands fa-js" style="color: #f7df1e"></i></span>
                <span>HTML5 <i class="fa-brands fa-html5" style="color: #e34c26;"></i></span>
                <span>CSS3 <i class="fa-brands fa-css3"  style="color: #264de4"></i></span>
                <span>Bootstrap <i class="fa-brands fa-bootstrap" style="color: #563d7c"></i></span>
            </div>
        </div>
        <div class="career-section">
            <span class="career-header"><i class="fa-solid fa-person-walking" style="color: #4A90E2;"></i>Career Foundation</span>
            <div class="company-images">
                <img src="ibm.png" alt="">
                <img src="accenture.jpg" alt="">
                <img src="indra.jpg" alt="">
                <img src="pccw.jpg" alt="">
                <img src="prosource.png" alt="">
            </div>
        </div>
    </div>
</div>