<div class="modal-container">
    <div class="modal-backdrop">
        <div class="modal-content" [ngClass]="{'show-modal': !hideModal, 'hide-modal': hideModal}">
            <div class=" modal-header">
                <h6 class="modal-title">{{modalTitle()}}</h6>
                <i class="fa-solid fa-xmark" (click)="onCloseClick()"></i>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            @if(hasFooter()) {
            <div class="modal-footer">
                footer
            </div>
            }
        </div>
    </div>
</div>