$item-box-shadow: 3px 5px 6px #616161;
$text-shadow: #424242 2px 2px 4px;

.full-screen-container {
    animation: slideContentUp 1s ease-out forwards;
    animation-delay:0.5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    // background: radial-gradient(circle at 20% 30%,
    //         rgba(59, 130, 246, 0.25),
    //         transparent 40%),
    //     radial-gradient(circle at 80% 70%,
    //         rgba(139, 92, 246, 0.2),
    //         transparent 40%),
    //     linear-gradient(135deg, #0f172a, #020617);

    &.closing {
        animation: slideContentDown 1s ease-out forwards;
    }
}

.header-container {
    padding: 2rem;
    display: flex;
    align-items: center;

    i {
        font-size: 2.2rem;
        color: white;
        text-shadow: $text-shadow;
        margin-right: 2rem;

        &.close-button {
            cursor: pointer;
            position: absolute;
            right: 0.5rem;

            &:hover {
                transform: scale(1.5);
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-shadow: $text-shadow;
    font-weight: 700;
}

.details-content {
    flex: 1;
    overflow-y: auto;

    .detail-container {
        margin: 2rem;

        .company-header {
            font-weight: 500;
            font-size: 1.2rem;
            margin: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding-bottom: 1rem;
        }
    }

    .card {
        border-width: 1px;
        border-style: solid;
        box-shadow: $item-box-shadow;
        color: #212121;
        &.horizontal{
            background: transparent;
            color: white;
        }

        .card-image {
            height: 100%;
            background: white;

            img {
                height: 16rem;
                width: 16rem;
                padding: 3rem;
                border: 2px solid #EFEFEF;
            }
        }
    }


    .detail-skills {
        border-style: solid;
        border-width: 1px;
        box-shadow: $item-box-shadow;
        display: flex;
        flex-direction: column;
        color: #212121;
        color: white;

        h3 {
            padding: 1rem;
        }

        .skill-list {
            display: flex;
            margin: 2rem;

            .skill-group {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .skill-item {
                    font-size: 5rem;

                    i:hover {
                        transform: scale(1.5);
                        transition: transform 0.3s ease-in-out;
                        cursor: pointer;
                    }
                }

                .skill-name {
                    text-align: center;
                }
            }
        }
    }
}

@keyframes slideContentUp {
    from {
        transform: scale(0.8);
        opacity: 0;
        transform-origin: center;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideContentDown {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.8);
        opacity: 0;
        transform-origin: center;
    }
}