$item-box-shadow: 3px 5px 6px #616161;
$text-shadow: #424242 2px 2px 4px;

.full-screen-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container {
    padding: 2rem;
    display: flex;
    align-items: center;

    i {
        font-size: 2.2rem;
        color: white;
        text-shadow: $text-shadow;
        margin-right: 2rem;

        &.close-button {
            cursor: pointer;
            position: absolute;
            right: 0.5rem;

            &:hover {
                transform: scale(1.5);
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-shadow: $text-shadow;
    font-weight: 700;
}

.details-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .detail-container {
        margin: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        .card-action {
            border-bottom: 1px solid white;
        }
        
        .company-container {
            opacity: 0;
            animation: fadeSlide 1s ease-out forwards;
            .image-row {
                border: 1px solid #efefef;
                padding: 1rem;
                display: flex;
                gap: 1rem;
                margin-bottom: 0.5rem;
                border-radius: 1rem;
                .company-header {
                    font-weight: 500;
                    font-size: 1.2rem;
                    margin: 0;
                    padding-bottom: 1rem;
                }
                img {
                    height: 5rem;
                    width: 5rem;
                    padding: 0.5rem;
                    background: white;
                    border-radius: 10%;
                    border: 2px solid #EFEFEF;
                }
                .text-row {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    font-size: 0.75rem;
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
        .toolkit-header {
            font-size: 1.5rem;
            margin: 1rem 0;
        }
        .skill-box {
            display: flex;
            width: 100%;
            gap: 1rem;
            flex-wrap: wrap;
            margin-bottom: 10rem;
            .skill-item {
                font-size: 3rem;
            }
        }
    }

    


    .card {
        border-width: 1px;
        border-style: solid;
        box-shadow: $item-box-shadow;
        color: #212121;
        &.horizontal{
            background: transparent;
            color: white;
        }

        .card-content {
            opacity: 0;
            animation: fadeSlide 1s ease-out forwards;
        }
        

        .card-image {
            height: 100%;
            background: white;

           
        }
    }


    .detail-skills {
        display: flex;
        color: white;

        .skill-list {
            display: flex;
            margin: 2rem;
            flex-wrap: wrap;
            gap: 1rem;

            .skill-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                animation: fadeSlide 1s ease-out forwards;
                opacity: 0;

                .skill-item {
                    font-size: 3rem;

                    i:hover {
                        transform: scale(1.5);
                        transition: transform 0.3s ease-in-out;
                        cursor: pointer;
                    }
                }

                .skill-name {
                    text-align: center;
                }
            }
        }
    }
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 1128px) { 
    .full-screen-container {
        .details-content {
            .detail-container {
                gap: 1.5rem;
                .company-container {
                    width: 80%;
                    .image-row {
                        .text-row {
                            font-size: 1rem;
                            p {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
            .detail-skills {
                .skill-list {
                    .skill-group {
                        .skill-item {
                            font-size: 7rem;
                        }
                    }
                }
            }
        }
    }
}