$item-box-shadow: 3px 5px 6px #616161;
$text-shadow: #424242 2px 2px 4px;

.full-screen-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    padding: 2rem;
    display: flex;
    align-items: center;

    i {
        font-size: 2.2rem;
        color: white;
        text-shadow: $text-shadow;
        margin-right: 2rem;

        &.close-button {
            cursor: pointer;
            position: absolute;
            right: 0.5rem;

            &:hover {
                transform: scale(1.5);
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-shadow: $text-shadow;
    font-weight: 700;
}

.details-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .detail-container {
        margin: 2rem;
        .card-action {
            border-bottom: 1px solid white;
        }
        .company-header {
            font-weight: 500;
            font-size: 1.2rem;
            margin: 0;
            padding-bottom: 1rem;
            opacity: 0;
            animation: fadeSlide 1s ease-out forwards;
        }
    }

    .card {
        border-width: 1px;
        border-style: solid;
        box-shadow: $item-box-shadow;
        color: #212121;
        &.horizontal{
            background: transparent;
            color: white;
        }

        .card-content {
            opacity: 0;
            animation: fadeSlide 1s ease-out forwards;
        }
        

        .card-image {
            height: 100%;
            background: white;

            img {
                height: 16rem;
                width: 16rem;
                padding: 3rem;
                border: 2px solid #EFEFEF;
                opacity: 0;
                animation: fadeSlide 1s ease-out forwards;
            }
        }
    }


    .detail-skills {
        border-style: solid;
        border-width: 1px;
        box-shadow: $item-box-shadow;
        display: flex;
        flex-direction: column;
        color: #212121;
        color: white;

        h3 {
            padding: 1rem;
        }

        .skill-list {
            display: flex;
            margin: 2rem;

            .skill-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                animation: fadeSlide 1s ease-out forwards;
                    opacity: 0;

                .skill-item {
                    font-size: 5rem;

                    i:hover {
                        transform: scale(1.5);
                        transition: transform 0.3s ease-in-out;
                        cursor: pointer;
                    }
                }

                .skill-name {
                    text-align: center;
                }
            }
        }
    }
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}