.page-container {
    display: flex;
    min-height: 100vh;

    .app-row {
        display: flex;

        .app-sidebar {
            flex: 0 0 20rem;
            background-color: #212121;
            overflow-y: auto;
            height: 100%;
        }

        .app-content {
            flex: 1;
        }
    }
}