<div class="page-container">
  <div class="app-row">
    <div class="app-sidebar">
      <app-image [imageSrc]="'Alodp2.png'" [imageText]="'Carlo Salvahan'"
        [imageSubText]="'Frontend Developer'"></app-image>
      <app-nav-bar [navBarItems]="navBarItems"></app-nav-bar>
    </div>
    <div class="app-content">
      <router-outlet />
    </div>
  </div>
</div>
<!-- <div class="disclaimer-message">
    <p><i class="fa-solid fa-triangle-exclamation" style="color:yellow"></i> <b> Note: &nbsp;</b>Responsive enhancements are currently being implemented. Some visual elements may appear slightly misaligned on smaller devices.</p>
  </div> -->