.custom-nav-container {
    background-color: transparent !important;
    box-shadow: none !important;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        li {
            padding: 0;
            margin: 0;
            width: 100%;
            overflow: hidden;

            a {
                display: flex;
                align-items: baseline;
                text-decoration: none;
                transition: all 0.3s ease;
                padding-left: 2.5rem;

                &:hover {
                    background-color: #333333;
                    transform: scale(1.1);
                }
            }

            &.active {
                border-left: 0.5rem solid white;
                font-weight: 700;
                a {
                    padding-left: 1rem;
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }

    i {
        margin-right: 1rem;
        vertical-align: middle;
        font-size: 2rem;
        height: 2rem;
    }

    .icon-spacing {
        margin-right: 0.5rem;
        margin-top: 0;
    }
}
