$text-shadow: #424242 2px 2px 4px;

.full-screen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: black;
    overflow: hidden;
    animation: fadeIn 1s ease-out;

    .skill-header {
        flex: 0 0 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-container {
            color: #ffd180;
            text-shadow: $text-shadow;
            text-align: center;
            margin-top: 5rem;
        }

        .skill-container {
            display: flex;
            gap: 3rem;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            padding: 1rem;
            align-items: center;
            height: 10rem;
            padding: 0 2rem;
            width: 80%;

            .skill-item {
                background: white;
                width: 15rem;
                height: 15rem;
                flex: 0 0 auto;
            }

            i {
                font-size: 5rem;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                    transition: transform 0.3s ease-in-out;
                }

                &.active {
                    transform: scale(2);
                    transition: transform 0.3s ease-in-out;
                }
            }
        }

        .skill-container::-webkit-scrollbar {
            height: 8px;
        }

        .skill-container::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
        }
    }

    .skill-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .skill-desc-container {
            background: white;
            flex: 1;
            overflow-y: auto;
            padding: 1rem;
            margin: 2rem 3rem;
            display: flex;
            flex-direction: column;

            .skill-desc-header {
                display: flex;
                

                .skill-image,
                .skill-desc-details-container {
                    background: white;
                    width: 10rem;
                    height: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .desc-image {
                        font-size: 9rem;
                        height: 9rem;
                        width: 9rem;
                        padding: 0.5rem;
                    }
                }

                .skill-desc-details-container {
                    width: auto;
                    flex: 1 1 auto;
                    margin-left: 1rem;
                    height: 10rem;
                    overflow-y: auto;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;
                    .skill-desc-details {
                        padding: 0 2rem;
                        padding-top: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        h3 {
                            margin: 0;
                        }
                    }
                }
            }

            .skill-desc-content {
                flex: 1;
                border: 1px solid #212121;
                background: white;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}