$text-shadow: #424242 2px 2px 4px;

.full-screen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: black;
    overflow: hidden;
    animation: fadeIn 1s ease-out;

    .skill-header {
        flex: 0 0 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-container {
            color: #ffd180;
            text-shadow: $text-shadow;
            text-align: center;
            margin-top: 2rem;
        }

    }

    .skill-content {
        flex: 1;
        display: flex;
        overflow: hidden;

        .skill-container {
            display: flex;
            gap: 3.5rem;
            overflow-x: hidden;
            overflow-y: auto;
            white-space: nowrap;
            padding: 1rem;
            padding: 5rem 2rem;
            height: 100%;
            flex: 0 0 15rem;
            flex-direction: column;
            align-items: center;
            background-color: #424242;

            .skill-item {
                background: white;
                width: 15rem;
                height: 15rem;
                flex: 0 0 auto;
            }

            i {
                font-size: 5rem;
                text-shadow: 1px 1px 1px black;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                    transition: transform 0.3s ease-in-out;
                }

                &.active {
                    transform: scale(2);
                    transition: transform 0.3s ease-in-out;
                }
            }
        }

        .skill-container::-webkit-scrollbar {
            height: 8px;
        }

        .skill-container::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
        }

        .skill-desc-container {
            background-color: #e1f5fe;
            flex: 1;
            overflow-y: auto;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            .skill-desc-header {
                display: flex;


                .skill-image {
                    width: 10rem;
                    height: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .desc-image {
                        font-size: 9rem;
                        height: 9rem;
                        width: 9rem;
                        padding: 0.5rem;
                        text-shadow: 1px 1px 1px #212121;
                    }
                }

                .skill-desc-details-container {
                    width: auto;
                    flex: 1 1 auto;
                    margin-left: 1rem;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;

                    .skill-desc-details {
                        padding: 0 2rem;
                        padding-top: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;

                        h3 {
                            margin: 0;
                        }
                    }
                }
            }

            .skill-desc-content {
                flex: 1;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                .span-header {
                    margin-right: 1rem;
                    font-weight: 500;
                    font-size: 1rem;
                }
                .mastery-div {
                    i {
                        text-shadow: 1px 1px 1px #424242;
                    }
                    .mastery-num {
                        font-weight: 500;
                        margin-left: 1rem;
                        padding: 0 0.5rem;
                        background: #424242;
                        color: white;
                    }
                }

                .project-list {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}