<div class="full-screen-container">
    <div class="skill-header">
        <div class="header-container">
            <span>Skills and Expertise <i class="fa-solid fa-code"></i></span>
        </div>
    </div>
    <div class="skill-content">
        <div class="skill-container">
            @for (skill of skillSet; track $index) {
            <i [ngClass]="[skill.icon, skill.name === selectedSkill.name ? 'active' : '']"
                [ngStyle]="{'color': skill.color}" (click)="onSkillSelect(skill.name)"></i>
            }
        </div>
        <div class="skill-desc-container">
            <div class="skill-desc-header">
                <div class="skill-image">
                    <i [ngClass]="selectedSkill.icon" class="desc-image" [ngStyle]="{'color': selectedSkill.color}"></i>
                </div>
                <div class="skill-desc-details-container">
                    <div class="skill-desc-details">
                        <p>{{selectedSkill.description}}</p>
                    </div>
                </div>
            </div>
            <div class="mastery-div">
                <span class="span-header">
                    Mastery:
                </span>
                @for(item of getArray(selectedSkill.mastery); track $index) {
                <i class="fa-solid fa-star" style="color: #F7DF1E"></i>
                }
                @if(selectedSkill.mastery < 5) { @for(noStar of getArray(5 - selectedSkill.mastery +
                    (isHalfStep(selectedSkill.mastery) ? 0.5 : 0)); track $index) {
                    @if(isHalfStep(selectedSkill.mastery) && $index===0) { <i class="fa-solid fa-star-half-stroke"
                    style="color: #F7DF1E"></i>
                    } @else {
                    <i class="fa-regular fa-star" style="color: #F7DF1E"></i>
                    }
                    }
                    }
                    <span class="mastery-num">{{ selectedSkill.mastery + (isHalfStep(selectedSkill.mastery) ? '':
                        '.0')}}</span>
            </div>
            <div class="skill-desc-content">
                <span class="span-header">
                    Experience
                </span>
                <div class="experience-desc">
                    <p style="white-space: pre-line;">{{selectedSkill.expDesc}}</p>
                </div>
                <div>
                    <span class="span-header">
                        Projects
                    </span>
                    <ul class="collection project-list">
                        @for(project of projectArray();track $index) {
                        <li class="collection-item">{{project}}</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>