<div class="projects-container">
    <div class="projects-header">Projects I've Worked On</div>
    <div class="projects-content">
        <div class="project-item">
            <div class="icon-container"><i class="fa-solid fa-hand-holding-heart"></i></div>
            <div class="project-details">
                <div class="project-title">Timesheet System</div>
                <div class="project-subtitle">Manage employees timesheet and project assignments</div>
                <div class="skill-pills">
                    <div class="expertise-badges" >
                        <span >Angular <i class="fa-brands fa-angular"
                                style="color: #f44336;"></i></span>
                        <span >ReactJS <i class="fa-brands fa-react" style="color: #009688"></i></span>
                        <span >Typescript <i class="fa-brands fa-typescript"
                                style="color: #3178c6"></i></span>
                    </div>
                </div>
                <div class="expand-button-container">
                    <div class="expand-button">Expand</div>
                </div>
            </div>
        </div>
        <div class="project-item">
            <div class="icon-container"><i class="fa-solid fa-hand-holding-heart"></i></div>
            <div class="project-details">
                <div class="project-title">Timesheet System</div>
                <div class="project-subtitle">Manage employees timesheet and project assignments</div>
                <div class="skill-pills">
                    <div class="expertise-badges" >
                        <span >Angular <i class="fa-brands fa-angular"
                                style="color: #f44336;"></i></span>
                        <span >ReactJS <i class="fa-brands fa-react" style="color: #009688"></i></span>
                        <span >Typescript <i class="fa-brands fa-typescript"
                                style="color: #3178c6"></i></span>
                    </div>
                </div>
                <div class="expand-button-container">
                    <div class="expand-button">Expand</div>
                </div>
            </div>
        </div>
        <div class="project-item">
            <div class="icon-container"><i class="fa-solid fa-hand-holding-heart"></i></div>
            <div class="project-details">
                <div class="project-title">Timesheet System</div>
                <div class="project-subtitle">Manage employees timesheet and project assignments</div>
                <div class="skill-pills">
                    <div class="expertise-badges" >
                        <span >Angular <i class="fa-brands fa-angular"
                                style="color: #f44336;"></i></span>
                        <span >ReactJS <i class="fa-brands fa-react" style="color: #009688"></i></span>
                        <span >Typescript <i class="fa-brands fa-typescript"
                                style="color: #3178c6"></i></span>
                    </div>
                </div>
                <div class="expand-button-container">
                    <div class="expand-button">Expand</div>
                </div>
            </div>
        </div>
    </div>
</div>