<div class="full-page-container">
    <div class="container">
        @for (item of timelineItems(); track $index) {
        <div class="row">
            <div class="col l6 left-column-container">
                <div class="left-column">
                    @if ($index !== 0 && $index % 2 !== 0) {
                    <h3  [ngStyle]="{'color': item.barColor}">{{ item.title }}</h3>
                    <div class="left-column-line" [ngStyle]="{'border-color': item.barColor}"></div>
                    <div class="timeline-image"  [ngStyle]="{'background-color': item.barColor}" (click)="onViewDetails(item)">
                        <i [ngClass]="item.iconClass" class="timeline-icon"></i>
                        <span class="hover-timeline-text">View Details<i class="fa-solid fa-chevron-up"></i></span>
                    </div>
                    <div class="line-connector" [ngStyle]="{'background-color': item.barColor}"></div>
                    } @else {
                    <p>
                        {{ item.description }}
                    </p>
                    }
                </div>
            </div>
            <div class="col l6 right-column-container">
                <div class="right-column">
                    @if ($index === 0 || $index % 2 === 0) {
                    <div class="right-column-line" [ngStyle]="{'border-color': item.barColor}"></div>
                    <div class="line-connector" [ngStyle]="{'background-color': item.barColor}">
                    </div>
                    <div class="timeline-image" [ngStyle]="{'background-color': item.barColor}"  (click)="onViewDetails(item)">
                        <i [ngClass]="item.iconClass" class="timeline-icon" ></i>
                        <span class="hover-timeline-text">View Details<i class="fa-solid fa-chevron-up"></i></span>
                    </div>
                    <h3 [ngStyle]="{'color': item.barColor}">{{ item.title }}</h3>
                    } @else{
                    <p>
                        {{ item.description }}
                    </p>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>