$primary-button-bg-color: #f9a825;
$primary-button-color: #ffffff;
$primary-button-border: 1px solid white;
$primary-button-radius: 1rem;
$primary-button-transition:  transform 0.3s ease;

.portfolio-section {
    padding-bottom: 150px;
}

.primary-button {
    background: $primary-button-bg-color;
    color: $primary-button-color;
    cursor: pointer;
    border: $primary-button-border;
    border-radius: $primary-button-radius;
    transition: $primary-button-transition;

    &:hover {
        background: #f57f17;
        transform: scale(1.2);
    }
}