$primary-button-bg-color: #f9a825;
$primary-button-color: #ffffff;
$primary-button-border: 1px solid white;
$primary-button-radius: 0.5rem;
$primary-button-transition: transform 0.3s ease;

button {
    border: $primary-button-border;
    border-radius: $primary-button-radius;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: $primary-button-color
}

.portfolio-section {
    padding-bottom: 10rem;
    text-align: center;
    width: 100%;
}


.primary-button {
    background: $primary-button-bg-color;
    color: $primary-button-color;
    cursor: pointer;
    border: $primary-button-border;
    border-radius: $primary-button-radius;
    transition: $primary-button-transition;

    &:hover, &:focus {
        background: #f57f17;
        transform: scale(1.2);
    }
    
}

@media (min-width: 1128px) {  
    .portfolio-section {
        text-align: left;
    }
}

body {
    overflow-y: hidden;
}