.experience-page-container {
    background-color: #484B54;
    app-timeline {
        animation: slideContentRight 0.5s ease-out;
    }
}

@keyframes slideContentRight {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}