<div class="super-container">
    <div class="experience-page-container">
        <div class="page-header">
            <span>Experience Timeline <i class="fa-solid fa-clock"></i></span>
        </div>
        <div class="page-content">
            <app-timeline [timelineItems]="experienceItems" (timelineSelected)="onTimelineSelected($event)"></app-timeline>
            @if(showDetails) {
                <app-experience-detail-page [detailItem]="detailSelected"></app-experience-detail-page>
            }
        </div>
    </div>
</div>

<!-- @if(detailSelected) {
    <app-modal (closeClick)="onBackClick()" [modalTitle]="detailSelected.title">
        <app-experience-detail-page [detailItem]="detailSelected" (backClick)="onBackClick()"></app-experience-detail-page>
    </app-modal>
} -->