.super-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
  height: 100dvh;
  
  .experience-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    gap: 1rem;
    position: relative;
    z-index: 1;
    animation: fadeIn 1s ease-out;
    flex: 1;

    .page-header {
      flex: 0 0 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-bottom: 1px solid #616161;
      font-weight: 700;
      position: sticky;
      top: 0;
      z-index: 1;
      width: 100%;
    }

    .page-content {
      flex: 1 1 auto;
      overflow-y: auto;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      app-timeline {
        position: sticky;
        top: 0;
        overflow-y: none;
        border-bottom: 1px solid #616161;
      }
      app-experience-detail-page {
        overflow-y: auto;
        margin-top: 1rem;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:host {
  display: flex;
  width: 100%;
}

@media (min-width: 1128px) { 
  .super-container {
    .experience-page-container {
      .page-header {
        flex: 0 0 10rem;
        font-size: 3rem;
      }
      .page-content {
        margin-bottom: 0;
      }
    }
  }
}